<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tablero Yavirac</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <table class="chessboard">
    <tr class="chessboard">
      <td class="chessboard" align="center"><i class="black fas fa-chess-rook ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-knight ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-bishop ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-king ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-queen ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-bishop ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-knight ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-rook ml-4"></i></td>
    </tr>
    <tr class="chessboard">
      <td class="chessboard" align="center"><i class="black fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="black fas fa-chess-pawn ml-4"></i></td>
    </tr>
    <tr class="chessboard">
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
    </tr>
    <tr class="chessboard">
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
    </tr>
    <tr class="chessboard">
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
    </tr>
    <tr class="chessboard">
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
      <td class="chessboard"></td>
    </tr>
    <tr class="chessboard">
      <td class="chessboard" align="center"><i class="white fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-pawn ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-pawn ml-4"></i></td>
    </tr>
    <tr class="chessboard">
      <td class="chessboard" align="center"><i class="white fas fa-chess-rook ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-knight ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-bishop ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-king ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-queen ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-bishop ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-knight ml-4"></i></td>
      <td class="chessboard" align="center"><i class="white fas fa-chess-rook ml-4"></i></td>
    </tr>
</table>
</ion-content>